

html {
    
    background-image: url(https://th.bing.com/th/id/R.fb264cd7b9a17bc871374c73ab7b7a67?rik=6CYLKwTaRFkR%2bA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwg4qgvh.jpg&ehk=bQuC8pmeLRMWNZ8O2l1RO6rMDyxQxKqUdvVUo4Ucht8%3d&risl=&pid=ImgRaw&r=0);
    background-repeat:repeat;
    background-size:200px, 50px;
    width: 100%;
    min-height: 50px; 
    padding: 25px; 
}

body{
    background-color:black;
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    font-size: 18px;
    text-align:center; 
    color:aqua;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


main{
    display:flexbox;
    margin-left: auto;
    margin-right: auto; 
    width: 50%; 
}

.Image1{
    display:block; 
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

.Image2{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul{
    border-width: 25px;
    border-style:groove;
    border-color:green;
}



